.container.contact__container{
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.contact__options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option{
    background: transparent;
    padding: 1.2rem;
    border-radius: 3rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}
.contact__option:hover{
    background: var(--color-bg-variant);
    border-color: var(--color-primary-variant);
}
.contact__option-icon{
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.contact__option a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 1.3rem;
}

/* ======================= FORM =================== */
form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea{
    width: 100%;
    font-size: 1.5rem;
    padding: 1.5rem;
    border-radius: 2rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white);
}
.button__holder{
    text-align: end;
}

/* =================== MEDIUM DEVICES ====================== */
@media screen and (max-width: 1024px){
    .container.contact__container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
   }
   /* =================== Small DEVICES ====================== */
   @media screen and (max-width: 600px){
    .container.contact__container{
        grid-template-columns: 1fr;
        width: var(--container-width-sm);
    }
    input, textarea{
        font-size: 1rem;

    }
   }
